.assembly-div {
    width: 100%;
    min-width: 150vh;
    height: 100vh;
    padding: 5px 15vh;
}

.assembly-nav {
    border:1px solid red;
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: fit-content;
    padding:2px
}

.assembly-nav p {
    margin: 5px;
}

.assembly-cards {
    border:5px dotted violet;
    padding: 5px;
    display: flex;
}