.assembly-div {
    width: 100%;
    min-width: 150vh;
    height: fit-content;
    padding: 5px 15vh;
}

.assembly-nav {
    width: fit-content;
    height: fit-content;
    padding:2px
}

.assembly-nav p {
    margin: 5px;
    font-weight: 500;
}

.assembly-nav hr {
    color: rgba(0, 0, 0, 0.85)
}

.assembly-cards {
    height:fit-content;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow:hidden;
}

