.body-div {
    background-color: rgba(0,0,0, 0.1);
    width: 100%;
    min-height: 100vh ;
    max-height: fit-content;
    align-items: center;
    display: flex;
}

.content-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.body-text {
    border:1px solid red;
    padding: 5px;
    width: 100vh;
    height: 60vh;
    margin:10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-openning {
    border:1px solid gold;
    width: 100%;
}

.body-openning button {
    background-color: #1E2832;
    color:white;
    font-weight: 600;
    padding:5px;
    border-radius: 4px;
}
.bi-bag-fill{ 
    color:white
}

.body-img {
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    min-width: 250px;
    min-height: 300px;
    width: 50vh;
    height: 60vh;
    border:1px solid gold;
}

.body-img img {
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
