.contact-container {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgba(0,0,0, 0.1);
  }
  
  .contact-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .contact-info p {
    font-weight: 500;
    margin: 10px 0;
  }

  .contact-info h4 {
    font-weight: 400;
    font-size: 1.1rem;
  }
  
  @media screen and (max-width: 600px) {
    .contact-container {
      padding: 10px;
    }
  
    .contact-container h1 {
      font-size: 1.5rem;
    }
  
    .contact-info p {
      font-size: 1rem;
    }
  }
  