.options-div {
    border-top:1px solid rgba(0,0,0, 0.3);
    display: flex;
    min-width: 150vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.options-div p {
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    min-height: 5vh;    
}

.navbar-toggler {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.HeaderSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}