.options-div {
    border:1px solid gold;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.options-div p {
    border: 1px solid black;
    color:red;
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    min-height: 10vh;    
}

.navbar-toggler {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.HeaderSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}