.main-product-div {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-div {
    margin:10px;
    padding:10px;
    width: 60%;
    min-width: 600px;
    height: 80vh;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border:1px solid yellow;
}
.product-img {
    width: 40%;
    max-width: fit-content;
    min-width: 300px;
    max-height: 300px;
    height: 80%;
    min-height: 350px;
    object-fit: contain;
}

.product-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.product-text {
    height: 80%;
    padding: 10px 25px;
    max-width: 250px;
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.product-text p {
    width: 50%;
    min-width: 90px;
    font-weight: 500;
    height: fit-content;
    display: flex; 
    
}

.product-text button {
    padding:5px;
    text-align: center;
    width: 100%;
    min-width: 90px;
    height: 40px;
}

.shopping-cart-list {
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    right: 0;
    height: 80%;
    width: fit-content;
    display: flex;
    padding:20px;
}

.product-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px 0px;
}

.product-list p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.cart-price{
    position: absolute;
    right: 0;
    bottom: 0;
    padding:10px;
}